$font-size: 20px;
$frame-color: #000000;
$size: 2.5em;
$open-width: 18em;
$open-padding: 0.3em 2.1em 0.3em 0.4em;
$frame-thickness: 0.3em;
$handle-height: 1.4em;
$open-trans-time: 800ms;
$close-trans-time: 150ms;
header {
  width: 100%;
  background-color: white;
  display: flex;
  padding: 5px 3%;
  column-gap: 30px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  .header-container {
    width: 100%;

    img {
      width: 40px;
      cursor: pointer;
    }

    .up {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button-89 {
        --b: 3px; /* border thickness */
        --s: 0.45em; /* size of the corner */
        --color: #373b44;

        padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
        color: var(--color);
        --_p: var(--s);
        background: conic-gradient(
            from 90deg at var(--b) var(--b),
            #0000 90deg,
            var(--color) 0
          )
          var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
          calc(100% - var(--b) - 2 * var(--_p));
        transition: 0.3s linear, color 0s, background-color 0s;
        outline: var(--b) solid #0000;
        outline-offset: 0.6em;
        font-size: 16px;

        border: 0;

        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      .button-89:hover,
      .button-89:focus-visible {
        --_p: 0px;
        outline-color: var(--color);
        outline-offset: 0.05em;
      }
      .button-89:active {
        background: var(--color);
        color: #fff;
      }

      .input {
        display: flex;
        width:30%;
        border: 3px solid #373b44;
        border-radius: 20px;
        // border: #000000;
        input {
          outline: none;
          border: none;
          margin: 0;
          padding: 5px 20px;
          border-bottom-left-radius: 20px;
          border-top-left-radius: 20px;
          width: 100%;
          font-weight: bold;
          // border: none;
          box-sizing: border-box; 
      }

        .incon-search {
          margin: 0;
          background-color:transparent;
          border: none;
          padding: 10px 15px;
          display: flex;
          justify-content: center;
          cursor: pointer;

          img {
            width: 30px;
          }
        }
      }

      .icon-up {
        margin-left: 20px;
      }
    }

    .down {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      /* CSS */
      
    }
  }
  .icon-store {
    position: relative;
    .number-order {
      position: absolute;
      bottom: -5px;
      right: 0;
      background-color: red;
      border-radius: 50%;
      color: white;
      font-size: 14px;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
